/* navigation */
#main-navbar {
  display: flex;
  justify-content: center;
  background-color: blue;
  color: black;
}

#main-navbar ul {
  margin: 0;
  padding: 0;
  list-style-type: none;
}

#main-navbar ul li {
  display: inline-block;
  margin: 10px;
}

#main-navbar ul li a {
  text-decoration: none;
  color: white;
  font-weight: bold;
}

/* index.html */
.home {
  background-color: #F0F8FF;
}
table {
  border-collapse: collapse;
  margin: 0 auto 20px;
}

th {
  background-color: blue;
  color: white;
  font-weight: bold;
  text-align: left;
  padding: 8px;
}

td {
  border: 1px solid black;
  padding: 8px;
}

tr:nth-child(even) {
  background-color: lightblue;
}

tr:hover {
  background-color: lightgray;
}

.home h1 {
  font-family: fantasy;
  text-align: center;
  font-size: 48px;
  color: #4682B4;

}
.home h4 {
  font-family: 'Times New Roman', Times, serif;
  text-align: center;
  font-size: 16px;
  color: #4682B4;
}

.home h2 {
  text-align: center;
  font-size: 24px;
  color: #4682B4;
  
}

.image-container {
  display: flex;
  justify-content: center;
  align-items: flex-end;
  height: 300px; 
  margin-bottom: 20px; 
  margin-top: 20px; 
}

img.hover-effect {
  transition: transform 0.5s ease-in-out;
  width: auto;
  max-height: 100%; 
}

img.hover-effect:hover {
  transform: scale(1.1); 
}

/* Add media query for screens with a minimum width of 768px */
@media screen and (min-width: 768px) {
  /* Update styles for table on larger screens */
  table {
    font-size: 16px;
    width: 80%;
  }

  th {
    padding: 12px;
  }

  td {
    padding: 12px;
  }
}

/* Add media query for screens with a minimum width of 992px */
@media screen and (min-width: 992px) {
  /* Update styles for navigation bar on larger screens */
  #main-navbar ul li {
    margin: 15px;
  }

  #main-navbar ul li a {
    font-size: 18px;
  }
}
